<div th:fragment="container-list">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th><input type="checkbox" onclick="onToggleAll()" th:checked="${allWatched}"> &nbsp;Monitor</th>
                <th></th>
                <th>Name</th>
                <th>Short ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="container : ${containers.entrySet()}">
                <td>
                    <input type="checkbox" th:id="${container.key.id}" th:checked="${selectedContainers.get(container.key.id)}" 
                        th:attr="onclick='selectClick(\'' + ${container.key.id} + '\');'">
                </td>
                <td><img th:src="@{/images/container48.png}" alt="Container Icon" width="24" height="24"></td>
                <td><a th:href="@{/container/{id}/logs/15(id=${container.key.id})}" th:text="${container.key.name}"></a></td>
                <td th:text="${container.key.shortID}"></td>
                <td>
                    <img th:src="${container.value ? '/images/green_tickbox.png' : '/images/red_crossmark.png'}"
                        alt="Status Icon" class="status-icon"
                        th:title="${container.value ? 'Container is up' : 'Container is down'}"
                        th:id="'status_icon_' + ${container.key.id}">
                </td>
                <td><button th:attr="onclick='toggleStatus(\'' + ${container.key.id} + '\');'" class="btn btn-primary" 
                    th:text="${container.value ? 'Stop' : 'Start' }" th:id="'action_button_' + ${container.key.id}">Start/Stop</button></td>
            </tr>
        </tbody>
    </table>
</div>
