body {
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.settings-link {
    position: absolute;
    top: 20px;
    right: 20px;
}

.status-icon {
    margin-left: 18px;
    width: 24px;
    height: 24px;
}

.container-logs {
    margin-top: 20px;
    margin-bottom: 50px;
}

.backarrow {
    position: absolute;
    top: 20px;
    left: 20px;
}

.error {
    text-align: center;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}
