<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parastas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
        </div>
        <div th:include="~{fragments/container-list :: container-list}">
            Loading...
        </div>
        <a href="/settings" class="settings-link">
            <img th:src="@{/images/settings64.png}" alt="Settings">
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function selectClick(container) {
            window.location.href = "/container/" + container + "/toggleSelect";
        }

        function toggleStatus(container) {
            window.location.href = "/container/" + container + "/toggleStatus";
        }

        function onToggleAll() {
            window.location.href = "/container/toggleAll";
        }

        function updateContainerStatus(containerId) {
        fetch(`/container/${containerId}/status`)
            .then(response => response.text())
            .then(status => {
                const statusIcon = document.getElementById(`status_icon_${containerId}`);
                const actionButton = document.getElementById(`action_button_${containerId}`);

                if (status === "true") {
                    statusIcon.src = "/images/green_tickbox.png";
                    statusIcon.title = "Container is up";
                    actionButton.innerText = "Stop";
                } else {
                    statusIcon.src = "/images/red_crossmark.png";
                    statusIcon.title = "Container is down";
                    actionButton.innerText = "Start";
                }
            })
            .catch(error => {
                console.error(`Error updating container ${containerId} status: ${error}`);
            });
    }

        // Function to start polling container status for all containers
        function startPolling() {
            const containerIds = [];
             // Loop through each container row and extract the container ID
            document.querySelectorAll("[id^='status_icon_']").forEach(element => {
                const containerId = element.getAttribute("id").replace("status_icon_", "");
                containerIds.push(containerId);
            });
            containerIds.forEach(id => {
                updateContainerStatus(id);
                setInterval(() => updateContainerStatus(id), 5000); // Poll every 5 seconds
            });
        }

        function updateContainerList() {
            $.get("/containers", function(data) {
                $("#container-list").html(data);
            });
        }

        // Call updateContainerList when the page is loaded
        $(document).ready(function() {
            updateContainerList();
        });

        // Start polling on page load
        startPolling();
    </script>
</body>
</html>
